Source: syncany-plugin-flickr
Section: utils
Priority: extra
Maintainer: Philipp Heckel <philipp.heckel@gmail.com>
Build-Depends: bash-completion, debhelper (>= 8.0.0) | debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://www.syncany.org

Package: syncany-plugin-flickr
Architecture: ${pluginDebianArchitecture}
Depends: ${pluginMiscDepends}, syncany (>= ${pluginAppMinVersion})
Homepage: https://www.syncany.org/
Description: Dropbox plugin for Syncany
 This plugin makes it possible to use a Flickr album as a backend 
 for Syncany. It encodes files as images.
 .
 The package relies on the original Syncany package.
